button {
  background-color: #a9a9a96b;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  height: 80px;
  width: 172px;
}

button:focus,
button:active { outline: none; }

.switch {
  background-color: white;
  border-radius: 98px;
  position: absolute;
  top: 0.1rem;
  width: 76px;
  height: 77px;
  left: 0.1rem;
  transition: left ease .4s;
}

button.on {
  background-color: green;
}

button.on .switch {
  left: 5.9rem;
}